<div id="app" class="h-96 w-96 bg-zinc-200 drop-shadow-lg absolute cursor-default draggable">
    <div id="header">
        <p>
            About me
        </p>
    </div>
    <div id="content" class="ml-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nisl nec ultricies lacinia, nisl
    </div>
</div>