<div @onclick=@(() => mainLayout.setAppIndex("aboutme")) 
    hidden="@(!visibility)" 
    id="app"
    class="h-96 w-1/2 draggable z-@mainLayout.getActiveAppIndex("aboutme")">
    <div id="header">
        <p>
            C:\admin\desktop\aboutme.exe
        </p>
        <span @onclick=@(() => mainLayout.closeApp("aboutme")) id="close_button">
            <i class="fa-solid fa-x font-light text-xs" ></i>
        </span>
    </div>
    <div id="content" class="ml-1 mt-5">
        Hey
    </div>
</div>

@code {
    [Parameter]
    public bool visibility { get; set; }
    [CascadingParameter]
    public MainLayout mainLayout { get; set; }


    
}