<div @onclick=@(() => mainLayout.setAppIndex("aboutme")) 
    hidden="@(visibility)" 
    id="app"
     class="h-96 w-1/2 bg-neutral-200 drop-shadow-lg absolute cursor-default draggable z-@mainLayout.getActiveAppIndex("aboutme")">
    
    <div id="header">
        <p>
            C:\admin\desktop\aboutme.exe
        </p>
    </div>
    <div id="content" class="ml-1">
        <h1 class="text-lg font-bold">Hi I'm Duane,</h1>
        <p>
            Me
        </p>
        <p>
            View my <span id="button" class="bg-neutral-400 hover:bg-neutral-300 p-1">Projects</span>, <span id="button" class="bg-neutral-400 hover:bg-neutral-300 p-1">Resume</span>, <span id="button" class="bg-neutral-400 hover:bg-neutral-300 p-1">Contact Me</span>, or send me an e-mail at <span id="button" class="bg-neutral-400 hover:bg-neutral-300 p-1">Email</span>
        </p>
        <div class="absolute bottom-0">
            <p>
                hey
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool visibility { get; set; }
    [CascadingParameter]
    public MainLayout mainLayout { get; set; }


    
}