<div id="app" class="h-96 w-5/12 bg-neutral-900 drop-shadow-lg absolute cursor-default draggable">
    <div id="header">
        <p>
            C:\admin\sys\cmd.exe
        </p>
    </div>
    <div id="content" class="text-sm">
        <p class="text-zinc-200 ml-2">
            <span class="text-violet-400">visitor</span><span class="text-neutral-300">:</span>$ ~
        </p>
        <div id="asciiart" class="text-violet-300 text-xs ml-2">
                <pre class="mt-0">
                    
██╗░░░██╗░█████╗░░██████╗
██║░░░██║██╔══██╗██╔════╝
╚██╗░██╔╝██║░░██║╚█████╗░
░╚████╔╝░██║░░██║░╚═══██╗
░░╚██╔╝░░╚█████╔╝██████╔╝
░░░╚═╝░░░░╚════╝░╚═════╝░

Type 'help' to see the list of available commands.
                </pre>
        </div>
        <p class="text-zinc-200 ml-2">
            <span class="text-violet-400">visitor</span><span class="text-neutral-300">:</span>$
        </p>
    </div>
</div>