<div @onclick=@(() => mainLayout.setAppIndex("cmd"))
     hidden="@(!visibility)"
     id="app"
     class="cmd h-96 w-5/12 draggable z-@mainLayout.getActiveAppIndex("cmd")">

    <div id="header">
        <p>
            C:\admin\sys\cmd.exe
        </p>
        <span @onclick=@(() => mainLayout.closeApp("cmd")) id="close_button" class="hover:bg-neutral-300">
            <i class="fa-solid fa-x font-light text-xs"></i>
        </span>
    </div>
    <div id="content" @onkeypress="Enter" class="text-sm h-full overflow-y-auto">

        <p class="text-zinc-200 ml-2 mt-6">
            <span class="text-violet-400">visitor</span><span class="text-neutral-300">:</span>$ ~
        </p>
        <div id="asciiart" class="text-violet-300 text-xs ml-2">
            <pre>
██╗░░░██╗░█████╗░░██████╗
██║░░░██║██╔══██╗██╔════╝
╚██╗░██╔╝██║░░██║╚█████╗░
░╚████╔╝░██║░░██║░╚═══██╗
░░╚██╔╝░░╚█████╔╝██████╔╝
░░░╚═╝░░░░╚════╝░╚═════╝░

Type 'help' to see the list of available commands.
             </pre>
        </div>
        <p class="text-zinc-200 ml-2">
            <span class="text-violet-400">visitor</span><span class="text-neutral-300">:</span>$ 
        </p>
    </div>
</div>

@code {
    [Parameter]
    public bool visibility { get; set; }
    [CascadingParameter]
    public MainLayout mainLayout { get; set; }

    private List<string> output = new List<string>();

    //Bind doesn't work using a markupstring, find a way around this!!!!
    string command = "";

    //OnInitialized
    protected override void OnInitialized()
    {

    }

    private void Enter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {

        }
    }

}