@inherits LayoutComponentBase

<PageTitle>OSWebsite</PageTitle>

<div class="page">
    <div>
        <CascadingValue Value="this">
            <NavMenu />
        </CascadingValue>
    </div>
    
    <main>
        <div class="pt-11 h-screen">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
    </main>
</div>

@code{
    public List<string> activeApps = new();
    public string activeApp = "";

    public void setActiveApp(string app)
    {
        if (activeApps.Contains(app))
        {
            activeApp = app;
            activeApps.Remove(app);
        }
        else
        {
            activeApp = string.Empty;
            activeApps.Add(app);
        }
        StateHasChanged();
    }

    public bool isActiveApp(string app)
    {
        return activeApps.Contains(app);
    }
}
