@inherits LayoutComponentBase

<PageTitle>OSWebsite</PageTitle>

<div class="page">
    <div>
        <CascadingValue Value="this">
            <NavMenu />
        </CascadingValue>
    </div>
    
    <main>
        <div class="pt-11 h-screen">
            @Body
        </div>
    </main>
</div>

@code{
    List<string> openWindows = new List<string>();
    public string activeWindow = "";

    public void OnWindowClick(string window)
    {
        if (openWindows.Contains(window))
        {
            activeWindow = window;
        }
        else
        {
            openWindows.Add(window);
            activeWindow = window;
        }
    }
}
