@inherits LayoutComponentBase

<PageTitle>OSWebsite</PageTitle>

<div class="page">
    <div>
        <CascadingValue Value="this">
            <NavMenu />
        </CascadingValue>
    </div>

    <main>
        <div class="pt-11 h-screen">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
    </main>
</div>

@code {
    public List<string> activeApps { get; set; } = new();
    public string activeApp { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        activeApp = string.Empty;
        activeApps = new List<string>();
    }

    public void activeAppHandler(string app)
    {
        if (activeApps.Contains(app))
        {
            if(!activeApps.Last().Equals(app)){
                setAppIndex(app);
                return;
            }
            activeApp = "";
            activeApps.Remove(app);
        }
        else
        {
            activeApp = app;
            activeApps.Add(app);
        }
        StateHasChanged();
    }

    public int getActiveAppIndex(string app)
    {
        return activeApps.IndexOf(app) * 10;
    }

    public void setAppIndex(string app)
    {
        //???????
        activeApps.Add(app);

        activeApps.Remove(app);
        if (activeApps.Count != 0)
        {
            activeApp = activeApps.Last();
        }
        StateHasChanged();
    }

    public void closeApp(string app)
    {
        if (activeApps.Contains(app))
        {
            if (activeApp.Equals(app))
            {
                activeApp = "";
            }
            activeApps.Remove(app);    
        }

        if(activeApps.Count != 0){
            activeApp.Last();
        }
        StateHasChanged();
    }
}
