@inherits LayoutComponentBase

<PageTitle>OSWebsite</PageTitle>

<div class="page">
    <div>
        <CascadingValue Value="this">
            <NavMenu />
        </CascadingValue>
    </div>

    <main>
        <div class="pt-11 h-screen">
            <CascadingValue Value="this">
                @Body
            </CascadingValue>
        </div>
    </main>
</div>

@code {
    public List<string> activeApps { get; set; }
    public string activeApp { get; set; }

    protected override async Task OnInitializedAsync()
    {
        activeApp = string.Empty;
        activeApps = new List<string>();
    }

    public void activeAppHandler(string app)
    {
        if (activeApps.Contains(app))
        {
            if(!activeApps.Last().Equals(app)){
                setAppIndex(app);
                return;
            }
            activeApp = "";
            activeApps.Remove(app);
        }
        else
        {
            activeApp = app;
            activeApps.Add(app);
        }
        StateHasChanged();
    }

    public int getActiveAppIndex(string app)
    {
        return activeApps.IndexOf(app) * 10;
    }

    public void setAppIndex(string app)
    {
        activeApps.Add(app);
        activeApps.Remove(app);
        activeApp = activeApps.Last();
        StateHasChanged();
    }
}
