#home_button_active, #clock {
    border-top: inset 2px black;
    border-left: inset 2px black;
    border-bottom: inset 2px white;
    border-right: inset 2px white;
}

#home_button {
    box-shadow: 
        inset -1px -1px 0 0 black, 
        inset 1px 1px 0 0 grey, 
        inset -2px -2px 0 0 black, 
        inset 2px 2px 0 0 white;
}

#nav {
    box-shadow: inset 0px 0px 0 0 black, inset 1px 1px 0 0 #e5e5e5, inset -2px -2px 0 0 #171717, inset 0px 0px 0 0 white;
}

#startmenu {
    box-shadow: inset 1px 1px 0 0 black, inset -1px -1px 0 0 black, inset 2px 2px 0 0 #e5e5e5, inset -1px -1px 0 0 black;
}


