#header {
    box-shadow: inset -1px -1px 0 0 black, inset 1px 1px 0 0 #d4d4d4, inset -1px -1px 0 0 black, inset 0px 1px 0 0 #d4d4d4;
    background-color: #c084fc;
    padding: 1px;
}

#app {
    box-shadow: inset -2px -2px 0 0 #171717, inset 2px 2px 0 0 #d4d4d4, inset -2px -2px 0 0 #171717, inset 2px 2px 0 0 #d4d4d4;
}
