@page "/"
@using OSWebsite.Components
@inject IJSRuntime JSRuntime


<PageTitle>Home</PageTitle>

<div class="flex justify-center items-center h-screen">
    <AboutMe visibility=@MainLayout.isActiveApp("aboutme")/>
    <CommandLine visibility=@MainLayout.isActiveApp("cmd") />

</div>

@code{
    [CascadingParameter]
    public MainLayout MainLayout { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("draggable");
        }
    }
}

