@page "/"
@using OSWebsite.Components
@inject IJSRuntime JSRuntime


<PageTitle>Home</PageTitle>

<div class="flex justify-center items-center h-screen">
    <CascadingValue Value="@mainLayout">
        <AboutMe visibility=@isActiveApp("aboutme") />
        <CommandLine visibility=@isActiveApp("cmd") />
    </CascadingValue>
    
    
</div>

@code {
    [CascadingParameter]
    public MainLayout mainLayout { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("draggable");
        }
    }

    public bool isActiveApp(string app)
    {
        return mainLayout.activeApps.Contains(app);
    }
}

